<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atv - Formulário</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="/static/styles/Atv_Formulario.css" />

    <!-- link JS -->
    <!-- <script src="/static/scripts/Atv_Formulario.js" defer></script> -->
  </head>
  <body>
    <section class="container">
      <div class="img_container">
        <h1>Crie sua Conta</h1>
        <p>
          Compartilhe suas aventuras e <br />
          descubra novos lugares ao redor do mundo!
        </p>
      </div>
      <form id="cadastro" method="post" action="cadastro">
        <div class="titulo">
          <h1>Cadastre-se</h1>
          <p>Preencha os campos abaixo e torne-se parte da nossa comunidade.</p>
        </div>

        <div class="input_data">
          <input type="text" id="nome" name="username" value="Julia" required />
          <label for="">Nome</label>
        </div>

        <div class="input_data">
          <input
            type="email"
            id="email"
            name="email"
            value="julia@gmail.com"
            required
          />
          <label for="">Email</label>
        </div>

        <div class="input_data">
          <input
            type="password"
            id="senha"
            name="password"
            value="Julia22@"
            required
          />
          <label for="">Senha</label>
        </div>

        <div class="input_data">
          <input
            type="password"
            id="confirmaSenha"
            name="confirmaSenha"
            value="Julia22@"
            required
          />
          <label for="">Confirmar Senha</label>
        </div>

        <div class="input_data">
          <input
            type="tel"
            id="tel"
            name="celular"
            value="19986002433"
            required
          />
          <label for="">Celular</label>
        </div>

        <div class="input_data">
          <input
            type="text"
            id="CPF"
            name="cpf"
            value="478.077.678-39"
            required
          />
          <label for="">CPF</label>
        </div>

        <div class="input_data">
          <input type="text" id="RG" name="rg" value="54.678.987-1" required />
          <label for="">RG</label>
        </div>

        <div class="btnArea">
          <p class="msgError"></p>
          <button id="btnSubmit" type="submit">Enviar</button>
        </div>
      </form>
    </section>
  </body>
</html>
