<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/static/styles/Atv_Formulario.css" />

    <!-- link JS
    <script src="/static/scripts/" defer></script> -->
  </head>
  <body>
    <%- include("menu") %>

    <section class="container">
      <div class="image_container">
        <h1>Sobre nosso site</h1>
        <p>Participe e descubra o que nossa empresa oferece!</p>
      </div>
      <title>Document</title>

      <%- include("userTable") %>
    </section>

    <%- include("userTable") %> <%- include("footer") %>
  </body>
</html>
