<html lang="en">
  <%- include("../partials/head"); %>

  <body>
    <%- include("../partials/menu") %>

    <section class="container">
      <h1>
        <%= error %>
      </h1>
    </section>


    <%- include("../partials/footer") %>
  </body>
</html>

<style>
    .container h1{
        font-size: 40px;
      
    }
</style>