<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head"); %>

  <body>
    <%- include("../partials/menu") %>

    <section class="container">
      <div class="image_container">
        <h1>Sobre nosso site</h1>
        <p>Participe e descubra o que nossa empresa oferece!</p>
      </div>
      <title>Document</title>

      <%# include("userTable") %>
    </section>

    <%- include("../partials/footer") %>
  </body>
</html>
